.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  gap: 10px;
  border: solid 2px var(--dark-gray);
  border-radius: var(--rounded);
  background: var(--dark-gray);
  color: inherit;
  font: inherit;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition:
    background var(--fast),
    color var(--fast),
    border-color var(--fast);
}

.button[aria-selected] {
  border-radius: 999px;
}

.button[aria-selected="false"] {
  background: none;
}

.button[aria-selected="true"] {
  background: var(--dark-gray);
}

.button:hover {
  border-color: var(--gray);
  background: var(--gray);
  color: inherit;
}

.button[data-design="big"] {
  position: relative;
  padding: 10px 20px;
  border: none;
  background: none;
  color: var(--off-white);
  white-space: nowrap;
}

.button[data-design="big"]:hover {
  color: var(--off-white);
}

.button[data-design="big"]::before,
.button[data-design="big"]::after {
  z-index: -1;
  position: absolute;
  inset: 0;
  border-radius: var(--rounded);
  background: linear-gradient(in hsl 45deg, var(--primary), var(--secondary));
  content: "";
  transition: opacity var(--fast);
}

@-moz-document url-prefix() {
  .button[data-design="big"]::before,
  .button[data-design="big"]::after {
    background: linear-gradient(45deg, var(--primary), var(--secondary));
  }
}

.button[data-design="big"]::before {
  padding: 2px;
  -webkit-mask:
    linear-gradient(white 0 0) content-box,
    linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.button[data-design="big"]::after {
  opacity: 0;
}

.button[data-design="big"]:hover::after {
  opacity: 1;
}

.button[data-design="big"]:hover .icon {
  transform: scale(1.1);
}

.icon {
  position: relative;
  top: -0.05em;
  flex-shrink: 0;
  height: 1em;
  transition: transform var(--fast);
}

.button[data-design="big"]:hover .icon {
  stroke: currentColor;
  animation: draw 1s both;
}

@keyframes draw {
  from {
    stroke-dasharray: 0 5;
  }
  to {
    stroke-dasharray: 5 0;
  }
}
