.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  gap: 20px;
  border-radius: var(--rounded);
  background: var(--dark-gray);
}

.placeholder p {
  text-align: center;
}
