.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  overflow-wrap: anywhere;
}

.legend > :first-child {
  text-align: right;
}

.gradient {
  width: 100px;
  height: 10px;
  background: linear-gradient(to right, var(--gray), var(--primary));
}

.gradient[data-inactive="true"] {
  background: linear-gradient(to right, var(--dark-gray), var(--gray));
}
