.tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

@media (max-width: 800px) {
  .tiles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .tiles {
    grid-template-columns: repeat(1, 1fr);
  }
}

.tile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.tile svg {
  height: 1.5em;
}
