.buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--light-gray);
  font-size: 0.95rem;
}
