:root {
  /** references */
  /* https://tailwindcss.com/docs/customizing-colors */
  /* https://www.materialpalette.com/colors */

  --black: #101829;
  --dark-gray: #354153;
  --gray: #596579;
  --light-gray: #94a3b8;
  --white: #e4e8ee;

  --primary: #e23fff;
  --secondary: #556eff;
  --primary-light: #f19fff;
  --secondary-light: #aab7ff;

  --rounded: 5px;
  --fast: 0.25s ease;
  --shadow: 0 0 10px #00000020;

  --spacing: 2em;
  --compact: 1.5em;
}

@font-face {
  font-weight: 200 900;
  src: url("@/assets/MonaSans.woff2") format("woff2");
  font-stretch: 75% 125%;
  font-family: "Mona Sans";
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--black);
  color: var(--white);
  font-weight: 300;
  font-size: 14pt;
  line-height: var(--compact);
  font-family: "Mona Sans", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
}

header,
section,
footer {
  --col: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px max(calc((100% - var(--col)) / 2), 40px);
  gap: 40px;
}

section:nth-child(odd) {
  background: color-mix(in hsl, var(--black), var(--white) 8%);
}

section:nth-child(even) {
  background: color-mix(in hsl, var(--black), var(--white) 5%);
}

footer {
  --col: 1200px;
}

.sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 1.25em;
  letter-spacing: 1px;
}

h2 {
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
}

h3 {
  margin-bottom: 1em;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
}

b,
strong {
  font-weight: 600;
}

p,
ul,
ol {
  width: 100%;
  margin: 0;
  line-height: var(--spacing);
}

p {
  text-align: center;
  text-wrap: balance;
}

a {
  color: var(--secondary-light);
  transition: color var(--fast);
}

a:hover {
  color: var(--primary-light);
}

img {
  max-width: 100%;
}

code {
  padding: 2px 5px;
  border-radius: var(--rounded);
  background: var(--dark-gray);
  font-family: monospace;
}

li {
  padding-left: 20px;
}

hr {
  width: 100%;
  height: 2px;
  border: none;
  background: var(--dark-gray);
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr:last-child {
  border-bottom: solid 1px var(--gray);
}

th {
  font-weight: 400;
}

tbody tr:nth-child(even) {
  background: #ffffff08;
}

th,
td {
  padding: 5px 20px;
  text-align: left;
}

svg text {
  fill: currentColor;
}

svg * {
  transition:
    fill var(--fast),
    width var(--fast);
}

svg [data-tooltip]:hover {
  fill: var(--white);
}

.inline-svg {
  position: relative;
  top: -1px;
  height: 1em;
  margin-right: 0.35em;
  margin-left: 0.15em;
  vertical-align: middle;
}

:focus:not(:focus-visible) {
  outline: none;
}

span[data-tooltip] {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
}

.icon {
  flex-shrink: 0;
  width: unset;
  height: 1em;
  vertical-align: middle;
}

.tippy-box {
  max-width: 350px !important;
  padding: 10px 15px;
  border-radius: var(--rounded);
  background: var(--white);
  color: var(--black);
  font-size: 1rem;
}

.tippy-box:has(.tooltip-table) {
  max-width: 500px !important;
}

.tippy-content {
  padding: 0;
}

.tippy-content a {
  color: var(--secondary);
}

.tippy-content a:hover {
  color: var(--primary);
}

.tippy-arrow {
  z-index: 99;
  color: var(--white);
}

.tooltip-table {
  display: grid;
  grid-template-columns: auto auto;
  margin: 5px;
  gap: 5px 15px;
}

.tooltip-table > *:nth-child(odd) {
  font-weight: 500;
}
